main {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  background-color: $cor-primaria;
}

section {
  height: 100%;
  margin: 25px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: black;
  background-color: $cor-segundaria;
  @include shadow(5px 5px 10px 2px rgba(0,0,0, .4));
}

#divisoria {
  width: 5px;
  box-sizing: border-box;
  background-color: $cor-terciaria;
  margin: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include shadow(5px 5px 10px 2px rgba(0,0,0, .4));
  &::before, &::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: $cor-terciaria;
  margin: -40px 0;
  border-radius: 50%;
  @include shadow(5px 5px 10px 2px rgba(0,0,0, .4));
  }
}

section[data-cep="container"] {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px ;
    h1 {
      @include font(38);
      padding: .25em .5em;
      text-align: center;
    }
    form {
      height: 200px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      input { 
       @include font(14);
       padding: .5em;
       text-align: center;
       border: none;
      }
      button {
        @include font(18);
        font-weight: bold;
        padding: .5em .25rem;
        border: none;
        @include shadow(0px 0px 1px 2px rgba(0,0,0,.5));
        background-color: $cor-terciaria;
        &:hover {
          @include shadow(0px 0px 10px 5px rgba(0,0,0,.5));
          transition: .2s;
        }
      }
      
    }
  }
}

section[data-resultado] {
  padding: 10px 20px 20px 40px;
  label {
    text-transform: uppercase;
    margin-top: 10px;
    @include font(14);
    width: 100%;

  }
  input {
    box-sizing: border-box;
    padding: 5px;
    color: black;
    @include font(14)
  }
}